/* Index.html */
:root {
--iris-color: #4D5AE5;
--oceancolor: #404BBF;
--navy-blue-color: #2E2F42;
--green-color: #31D0AA;
--slate-color: #434455;
--light-slate-color: #8E8F99;
--cornflower-color: #E7E9FC;
--cloud-color: #F4F4FD;
--navy-blue-grey-color: #2E2F42;
--white-color: #FFFFFF;
--dairy-color: #FCFCFC;
--roboto-font-family: 'Roboto', sans-serif;
--releway-font-family: 'Raleway', sans-serif;
}

body {
   font-family: var(--roboto-font-family);
   color: var(--slate-color);
   background-color: var(--white-color);
}

#home {
   background-color: var(--white-color);
}
.logo {
   font-family: var(--releway-font-family);
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--iris-color);
}
.logo {
   text-decoration: none;
}
.logo strong{
   color: var(--iris-color);
}
.logo .studio {
   color: var(--navy-blue-grey-color);
}

.link {
   text-decoration: none;
}
.nav-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--slate-color);
 }
 
 .nav-link:hover,
 .nav-link:focus {
   color: var(--oceancolor);
 }


.list {
   list-style: none;
}

.contact-address {
   font-style: normal;
 }
 
 .contact-link {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--slate-color);
 }
 
 .contact-link:hover,
 .contact-link:focus {
   color: var(--oceancolor);
 }
.header-section {
   background-color: var(--navy-blue-color);
}
.header-section_title {
   color: var(--white-color);
}
.header-section button {
   color: var(--white-color);
   background-color: var(--iris-color);
}

.body-section h3 {
   color: var(--navy-blue-color);
}
.body-section p {
   color: var(--slate-color);
}

.about-us h2 {
   color: var(--navy-blue-color);
}

.our-team {
   background-color: var(--cloud-color);
}
.our-team h2 {
   color: var(--navy-blue-color);
}
.our-team h3 {
   color: var(--navy-blue-color);
}
.our-team p {
   color: var(--slate-color);
}

footer {
   background-color: var(--navy-blue-color);
}

#contacts h2 > .first-web {
   color: var(--iris-color);
}
#contacts h2 > .studio {
   color: var(--cloud-color);
}
#contacts p {
   color: var(--cloud-color);
}

/* portofolio.html */

.buttons > li > button {
   color: var(--iris-color);
   background-color: var(--cloud-color);
}
.buttons > li > button:hover {
   color: var(--white-color);
   background-color: var(--iris-color);
}